### Introduction 

We get top 100 (Points per game) players since '2002 - 2003' season to the current season. 

These players represent the most offensive players in each team, and they have potential to be considered as super stars. As basketball fans, we know for offense, players who have the most ppg are usually considered "core" players in each team.

If you watch NBA, you are probably know the game changer players usually are among top 20 or even top 10 in the scoring leading board with high player efficiency, for example: Kevin Durant. 

They are other types of players with high PPG; however, they have low efficiency. For this type of players, they may make game changing plays, but most of times they drag their teams to losses. They seems have fantastic stats; however, they are "fake" stars. For example, Russual Westbrook.

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
df = pd.read_csv('Top 100 Stats.csv')

In [3]:
df['Team'].value_counts()

BU      84
UW      84
MSU     63
MU      42
OU      42
        ..
SMU     21
CSUF    21
VMI     21
CHAR    21
USMA    21
Name: Team, Length: 83, dtype: int64

### Data Manipulation

In [4]:
chunk_size = 100

In [5]:
# 创建一个列表，其中包含分成的DataFrame
df_list = [df[i:i+chunk_size] for i in range(0, df.shape[0], chunk_size)]

# 检查列表中的每个DataFrame的大小
for i, chunk in enumerate(df_list):
    print("DataFrame {} has {} columns".format(i, chunk.shape[0]))

DataFrame 0 has 100 columns
DataFrame 1 has 100 columns
DataFrame 2 has 100 columns
DataFrame 3 has 100 columns
DataFrame 4 has 100 columns
DataFrame 5 has 100 columns
DataFrame 6 has 100 columns
DataFrame 7 has 100 columns
DataFrame 8 has 100 columns
DataFrame 9 has 100 columns
DataFrame 10 has 100 columns
DataFrame 11 has 100 columns
DataFrame 12 has 100 columns
DataFrame 13 has 100 columns
DataFrame 14 has 100 columns
DataFrame 15 has 100 columns
DataFrame 16 has 100 columns
DataFrame 17 has 100 columns
DataFrame 18 has 100 columns
DataFrame 19 has 100 columns
DataFrame 20 has 100 columns

In [6]:
# Check what stats are included 
df_list[0].Team.values

array(['BU', 'LIB', 'UDM', 'UI', 'ORU', 'UNLV', 'UW', 'DEP', 'FGC', 'UNC',
       'U of I', 'PENN', 'NSU', 'VU', 'MSU', 'UAB', 'UNO', 'WRST', 'ISU',
       'OU', 'UTC', 'UTA', 'UTEP', 'WMY', 'UW', 'OU', 'NMSU', 'CHAR',
       'VMI', 'UW', 'CSUF', 'SMU', 'OSU', 'SU', 'STJ', 'LIU', 'CSU',
       'YALE', 'SU', 'UB', 'MU', 'UNR', 'CSUS', 'UVU', 'MAN', 'L-MD',
       'U of T', 'FAMU', 'NAU', 'UNI', 'KU', 'CIT', 'SHSU', 'UM', 'WF',
       'HOF', 'UW', 'WRST', 'GU', 'HP', 'U of A', 'IU', 'HCU', 'UNM',
       'WSU', 'NU', 'MSU', 'SCU', 'TU', 'ASU', 'KSU', 'GT', 'UIC', 'UM',
       'WVU', 'GMU', 'HAR', 'UTRGV', 'ASU', 'U of A', 'BU', 'ECU', 'BU',
       'WC', 'MU', 'MSU', 'U of M', 'KSU', 'USU', 'BU', 'LMU', 'UK',
       'NCST', 'PU', 'UVM', 'SEA', 'USF', 'DUKE', 'USMA', 'LIU'],
      dtype=object)

In [7]:
df_list[0]

,Number,Player,Team,GP,MPG,PPG,FGM,FGA,FG%,3PM,...,FTA,FT%,ORB,DRB,RPG,APG,SPG,BPG,TOV,PF
0,1,Peter Kiss,BU,27,35.7,25.2,9.1,20.0,0.456,1.9,...,6.5,0.784,1.4,4.3,5.8,3.2,1.7,0.3,4.2,2.2
1,2,Darius McGhee,LIB,33,33.6,24.6,8.4,18.3,0.456,4.3,...,4.1,0.881,0.5,4.0,4.5,3.6,1.2,0.2,3.0,1.3
2,3,Antoine Davis,UDM,29,37.0,23.9,8.2,19.1,0.429,3.9,...,4.1,0.882,0.5,3.1,3.6,4.4,1.0,0.0,3.3,1.7
3,4,Keegan Murray,UI,35,31.9,23.5,8.8,15.8,0.554,1.9,...,5.4,0.747,2.9,5.8,8.7,1.5,1.3,1.9,1.1,1.9
4,5,Max Abmas,ORU,30,36.8,22.8,7.5,17.9,0.422,3.8,...,4.7,0.850,0.3,3.1,3.4,3.7,1.0,0.1,2.3,1.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,Darrion Trammell,SEA,31,33.4,17.3,5.2,13.0,0.400,1.8,...,6.3,0.821,0.5,3.3,3.8,5.0,2.5,0.1,2.9,2.2
96,97,Jamaree Bouyea,USF,34,36.2,17.3,6.4,13.7,0.470,2.1,...,3.0,0.755,0.5,4.5,5.0,4.0,1.8,0.9,2.3,1.5
97,98,Paolo Banchero,DUKE,39,33.0,17.2,6.3,13.2,0.478,1.1,...,4.8,0.729,1.7,6.1,7.8,3.2,1.1,0.9,2.4,1.9
98,99,Jalen Rucker,USMA,31,32.0,17.1,5.9,14.5,0.404,2.7,...,3.5,0.769,0.5,3.3,3.8,3.1,0.9,0.2,2.4,1.4
99,100,Eral Penn,LIU,29,32.1,17.1,5.7,13.2,0.428,1.4,...,6.2,0.709,2.6,4.8,7.4,1.9,1.3,1.1,1.6,2.8

In [8]:
team_df = pd.read_csv('NCAA_Tourney_2002_2022.csv')

In [9]:
team_names = team_df['team1_teamname'].tolist()

In [10]:
team_names = list(set(team_names))

In [11]:
print(len(team_names))

171

In [12]:
team2_names = team_df['team2_teamname'].tolist()

In [13]:
team2_names = list(set(team2_names))

In [14]:
for name in team2_names: 
    if name not in team_names: 
        team_names.append(name)

In [15]:
print(len(team_names))

262

In [16]:
# Now we get a list of names who have appeared in NCAA tournaments since 2002 - 2003 season.

In [17]:
# Get Names from Stats dataframe
abbrev_names = []

# Iterate over the data for each season
for df in df_list:
    names = df['Team'].tolist()
    names = list(set(names))
    
    for name in names: 
        if name not in abbrev_names: 
            abbrev_names.append(name)

In [18]:
print(len(abbrev_names))

83

In [19]:
print(abbrev_names)

['UVU', 'PU', 'CSU', 'BU', 'NCST', 'HCU', 'UTRGV', 'WF', 'UM', 'UB', 'UTEP', 'ORU', 'ECU', 'DUKE', 'UNR', 'LIB', 'MSU', 'SCU', 'WVU', 'PENN', 'GMU', 'WRST', 'FAMU', 'CIT', 'USMA', 'UVM', 'NAU', 'HP', 'GU', 'UAB', 'LIU', 'KSU', 'STJ', 'HAR', 'UW', 'L-MD', 'OSU', 'LMU', 'SEA', 'ISU', 'CSUF', 'USF', 'UNC', 'UNM', 'WMY', 'U of M', 'SHSU', 'HOF', 'NMSU', 'SMU', 'U of I', 'ASU', 'CSUS', 'VMI', 'GT', 'SU', 'DEP', 'UIC', 'CHAR', 'USU', 'VU', 'NSU', 'KU', 'WC', 'UNLV', 'YALE', 'TU', 'UDM', 'MU', 'IU', 'UNI', 'FGC', 'UTA', 'U of T', 'MAN', 'UI', 'U of A', 'UTC', 'NU', 'OU', 'WSU', 'UNO', 'UK']

In [20]:
print(team_names)

['N Dakota St', 'Florida St', 'Ohio St', 'Pittsburgh', 'DePaul', 'LSU', 'Florida', 'UC Irvine', 'MTSU', 'West Virginia', 'Washington St', 'Tennessee', 'Georgetown', 'Wisconsin', 'Texas Tech', 'NC A&T', 'Wyoming', "St Joseph's PA", 'TCU', 'Syracuse', 'Villanova', 'TX Southern', 'Harvard', 'Iowa', 'Richmond', 'Wofford', 'St Louis', 'La Salle', 'Florida A&M', 'Georgia Tech', 'North Texas', 'BYU', 'Kentucky', 'C Michigan', 'Vanderbilt', 'Creighton', 'Yale', 'G Washington', 'Holy Cross', 'Hawaii', 'Arkansas', 'Xavier', 'Kent', 'Wichita St', 'Norfolk St', 'Arizona St', 'Tulsa', 'Michigan', 'Oakland', 'Ark Pine Bluff', 'UC Davis', 'Mercer', 'Butler', 'Colorado', 'Virginia Tech', 'UAB', 'James Madison', 'South Carolina', 'California', "Mt St Mary's", 'Drake', 'Belmont', 'Wake Forest', 'Oklahoma St', 'Washington', 'W Kentucky', 'Providence', 'Utah', 'New Mexico St', 'Kansas', 'Pacific', 'Siena', 'Clemson', 'Vermont', 'Memphis', 'George Mason', 'St Bonaventure', 'Colorado St', 'Michigan St', 'Ark Little Rock', 'Albany NY', 'Texas', 'Maryland', 'Bucknell', 'Cleveland St', 'Cornell', 'Texas A&M', 'Notre Dame', 'Bradley', 'San Diego', 'Iowa St', 'Northwestern', 'Lehigh', 'Kansas St', 'Davidson', 'Hampton', 'F Dickinson', 'Buffalo', 'Rhode Island', 'Indiana', 'Old Dominion', 'UCLA', 'Seton Hall', 'Morehead St', 'VA Commonwealth', 'Cincinnati', 'San Diego St', 'Temple', 'Ohio', 'Baylor', 'Georgia', 'Arizona', 'UT San Antonio', 'Marquette', 'Alabama', 'Oral Roberts', "St Mary's CA", 'UMBC', 'Auburn', 'Northern Iowa', 'FL Gulf Coast', 'Purdue', 'Boston College', 'UNLV', 'Winthrop', 'North Carolina', 'Manhattan', 'Minnesota', 'Mississippi', 'Illinois', 'Montana', 'Abilene Chr', 'NC State', 'Niagara', 'Robert Morris', 'Nevada', "St Peter's", 'USC', 'Duke', 'UCF', 'Mississippi St', 'Monmouth NJ', 'UNC Wilmington', 'Liberty', 'Missouri', 'Oregon', 'Rutgers', 'Cal Poly SLO', 'SF Austin', 'Georgia St', 'Dayton', 'Gonzaga', 'Northwestern LA', 'Murray St', 'Stanford', 'Wright St', 'Connecticut', 'Oklahoma', 'New Mexico', 'Louisville', 'South Florida', 'Loyola-Chicago', 'Marshall', 'Virginia', 'Houston', 'Miami FL', 'WI Milwaukee', 'UNC Asheville', 'S Illinois', 'Radford', 'Oregon St', 'IUPUI', 'Jacksonville St', 'ULL', 'E Kentucky', 'Utah St', 'N Kentucky', 'CS Bakersfield', 'San Francisco', 'Akron', 'FL Atlantic', 'Fresno St', 'ETSU', 'Valparaiso', 'Longwood', 'Col Charleston', 'Grand Canyon', 'Alabama A&M', 'NC Central', 'Gardner Webb', 'UTEP', 'Lipscomb', 'Coppin St', 'CS Fullerton', 'McNeese St', 'Montana St', 'MS Valley St', 'Miami OH', 'Santa Barbara', 'Princeton', 'Prairie View', 'South Alabama', 'WI Green Bay', 'Morgan St', 'S Dakota St', 'S Carolina St', 'TAM C. Christi', 'Alabama St', 'Detroit', 'Charlotte', 'North Florida', 'Iona', 'W Michigan', 'Indiana St', 'Massachusetts', 'Nebraska', 'Delaware', 'North Dakota', 'Northeastern', 'Loyola MD', 'Pepperdine', 'Air Force', 'CS Northridge', 'Penn', 'Lafayette', 'Chattanooga', 'Lamar', 'SMU', 'Binghamton', 'Southern Miss', 'Southern Univ', 'UT Arlington', 'UNC Greensboro', 'E Washington', 'Portland St', 'Stony Brook', 'Boise St', 'American Univ', 'Penn St', 'Bryant', 'N Colorado', 'Long Island', 'Long Beach St', 'Alcorn St', 'Drexel', 'Austin Peay', 'Coastal Car', 'Appalachian St', 'Boston Univ', 'SE Louisiana', 'IL Chicago', 'Jackson St', "St John's", 'Central Conn', 'Weber St', 'Wagner', 'Troy', 'Hartford', 'Sam Houston St', 'Delaware St', 'Colgate', 'New Orleans']

In [21]:
abbreviations = {
    "LIB": "Liberty",
    "WC": "West Coast Conference",
    "UNC": "North Carolina",
    "FAMU": "Florida A&M",
    "ECU": "East Carolina",
    "NAU": "Northern Arizona",
    "OU": "Oklahoma",
    "TU": "Tulsa",
    "PU": "Purdue",
    "NSU": "Norfolk St",
    "IU": "Indiana",
    "UNLV": "Nevada",
    "HP": "Hampton",
    "MAN": "Manhattan",
    "UTC": "Chattanooga",
    "YALE": "Yale",
    "CSUF": "CS Fullerton",
    "UTEP": "UT El Paso",
    "CIT": "Citadel",
    "WSU": "Washington St",
    "DUKE": "Duke",
    "UNO": "New Orleans",
    "LIU": "Long Island",
    "UK": "Kentucky",
    "ISU": "Iowa St",
    "SHSU": "Sam Houston",
    "SEA": "Seattle",
    "NU": "Northwestern",
    "MSU": "Michigan St",
    "NCST": "N Carolina St",
    "CHAR": "Charlotte",
    "OSU": "Ohio St",
    "CSU": "Colorado St",
    "KSU": "Kansas St",
    "USU": "Utah St",
    "HOF": "Hofstra",
    "UNM": "University of New Mexico",
    "NMSU": "New Mexico",
    "HCU": "Houston Christian",
    "UNR": "Reno",
    "HAR": "Harvard",
    "UM": "Miami FL",
    "MU": "Marquette",
    "U of M": "Michigan",
    "SCU": "Santa Clara",
    "GMU": "George Mason",
    "BU": "Boston Univ",
    "SU": "Syracuse",
    "GU": "Georgetown",
    "WF": "Wake Forest",
    "UI": "Iowa",
    "U of A": "Arizona",
    "UVM": "Vermont",
    "GT": "Georgia Tech",
    "CSUS": "Sacramento St",
    "KU": "Kansas",
    "UTRGV": "UT Rio Grande Valley",
    "UDM": "Detroit Mercy",
    "STJ": "St John's",
    "VMI": "Virginia Military Institute",
    "VU": "Villanova",
    "UTA": "UT Arlington",
    "UAB": "Alabama",
    "FGC": "Florida Gulf Coast University",
    "ASU": "Arizona St",
    "L-MD": "Loyola MD",
    "WMY": "William & Mary",
    "UIC": "IL Chicago",
    "SMU": "SMU",
    "ORU": "Oral Roberts",
    "USF": "South Florida",
    "WRST":"West Virginia",
    "U of I":"Illinois",
    "UB": "Buffalo",
    "UNI":"Northern Iowa",
    "LMU":"Loyola Marymount",
    "USMA":"Army",
    "UW":"Washington",
    "UVU":"Utah Valley",
    "U of T":"Texas",
    "WVU":"West Virginia",
    "PENN":"Penn",
    "DEP":"DePaul"}

In [25]:
year = 2022 

for df in df_list: 
    df['Team'].replace(abbreviations, inplace = True) 
    df['Year'] = year  
    df.rename(columns={'Number':'Ranking'})
    df.to_csv("player_data_{}.cvs".format(year),index=False)
    
    year = year - 1
    
    #df.drop(columns = {'Number'}, inplace = True)