### Introduction 

We get top 100 (Points per game) players since '2002 - 2003' season to the current season. 

These players represent the most offensive players in each team, and they have potential to be considered as super stars. As basketball fans, we know for offense, players who have the most ppg are usually considered "core" players in each team.

If you watch NBA, you are probably know the game changer players usually are among top 20 or even top 10 in the scoring leading board with high player efficiency, for example: Kevin Durant. 

They are other types of players with high PPG; however, they have low efficiency. For this type of players, they may make game changing plays, but most of times they drag their teams to losses. They seems have fantastic stats; however, they are "fake" stars. For example, Russual Westbrook.

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('stat.csv')

In [3]:
df['Team'].value_counts()

Oakland              23
Virginia Military    22
Hofstra              20
Duke                 19
Oral Roberts         15
                     ..
Rutgers               1
Cal Poly              1
Southern              1
Texas Christian       1
Merrimack College     1
Name: Team, Length: 348, dtype: int64

### Data Manipulation

In [4]:
chunk_size = 100

In [5]:
# 创建一个列表，其中包含分成的DataFrame
df_list = [df[i:i+chunk_size] for i in range(0, df.shape[0], chunk_size)]

# 检查列表中的每个DataFrame的大小
for i, chunk in enumerate(df_list):
    print("DataFrame {} has {} columns".format(i, chunk.shape[0]))

DataFrame 0 has 100 columns
DataFrame 1 has 100 columns
DataFrame 2 has 100 columns
DataFrame 3 has 100 columns
DataFrame 4 has 100 columns
DataFrame 5 has 100 columns
DataFrame 6 has 100 columns
DataFrame 7 has 100 columns
DataFrame 8 has 100 columns
DataFrame 9 has 100 columns
DataFrame 10 has 100 columns
DataFrame 11 has 100 columns
DataFrame 12 has 100 columns
DataFrame 13 has 100 columns
DataFrame 14 has 100 columns
DataFrame 15 has 100 columns
DataFrame 16 has 100 columns
DataFrame 17 has 100 columns
DataFrame 18 has 100 columns
DataFrame 19 has 100 columns
DataFrame 20 has 100 columns

In [6]:
# Check what stats are included 
df_list[0].Team.values

array(['Eastern Illinois', 'New Mexico', 'Oakland', 'UMKC',
       'Boston College', "Saint Peter's", 'Manhattan', 'Ball State',
       'Georgetown', 'Western Carolina', 'Detroit-Mercy',
       'Morehead State', 'Central Michigan', 'Wright State', "St. John's",
       'Syracuse', 'Texas Tech', 'Georgia Southern', 'Howard',
       'St. Francis (PA)', 'Marquette', 'Ohio', 'Wagner',
       'St. Bonaventure', 'Tennessee', 'UNC Wilmington', 'Kent State',
       'Akron', 'Florida A&M', 'Weber State', 'Appalachian State',
       'Maryland-Eastern Shore', 'California', 'Marshall', 'UNLV',
       'George Washington', 'Southern Methodist', 'William & Mary',
       'Xavier', 'West Virginia', 'Illinois', 'Boston College',
       'Wright State', "Saint Joseph's", 'Oregon', 'Hawaii',
       'Wake Forest', 'Connecticut', 'Notre Dame', 'Furman', 'Vermont',
       'Robert Morris', 'Long Island', 'Brown', 'Arizona State',
       'North Texas', 'Illinois-Chicago', 'Bradley', 'Albany',
       'Miami (FL)', 'Notre Dame', 'USC', 'High Point', 'La Salle',
       'Coastal Carolina', 'Virginia Military', 'Texas Southern',
       'San Francisco', 'Kansas', 'Providence', 'Loyola (IL)', 'Auburn',
       'Niagara', 'New Orleans', 'Milwaukee', 'UAB', 'Ohio State',
       'Rider', 'Georgia', 'Bethune-Cookman', 'Oakland', 'Xavier',
       'Prairie View A&M', 'Wyoming', 'Oklahoma', 'San Diego',
       'New Mexico State', 'Oral Roberts', 'Gonzaga', 'Georgia State',
       'Northern Arizona', 'Louisville', 'Vanderbilt', 'Louisiana Tech',
       'Maryland', 'Purdue', 'Creighton', 'Clemson', 'Texas Christian',
       'NC State'], dtype=object)

In [7]:
# Drop redundant column 
for df in df_list: 
    df.drop(df.columns[0], axis=1,inplace=True)
    df['Number'] = df.Number.astype('int64')
    df.rename(columns={'Number':'Ranking'},inplace=True)

In [8]:
# Check the dataframe
df_list[20]

,Ranking,Player,Team,GP,MPG,PPG,FGM,FGA,FG%,3PM,...,FTA,FT%,ORB,DRB,RPG,APG,SPG,BPG,TOV,PF
2000,1,Antoine Davis,Detroit-Mercy,33.0,37.3,28.2,9.2,22.2,0.414,4.8,...,5.5,0.907,0.4,2.6,3.0,3.6,1.2,0.1,3.3,2.1
2001,2,Jordan Dingle,Pennsylvania,28.0,33.5,23.4,7.8,16.8,0.464,2.8,...,6.0,0.856,0.7,2.9,3.6,2.3,1.1,0.1,2.8,1.5
2002,3,Jordan Walker,UAB,28.0,33.1,23.4,7.4,17.6,0.422,4.5,...,4.7,0.856,0.4,2.3,2.6,4.1,1.2,0.0,2.8,1.8
2003,4,Elijah Pepper,UC Davis,31.0,35.5,22.5,7.4,16.5,0.449,2.2,...,6.7,0.816,1.1,4.8,5.9,3.4,1.6,0.2,3.5,2.0
2004,5,Darius McGhee,Liberty,34.0,31.6,22.5,7.5,17.0,0.441,4.5,...,3.4,0.878,0.4,2.8,3.3,2.9,1.6,0.1,1.9,1.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2095,96,B.J. Freeman,Milwaukee,30.0,30.3,17.4,5.8,14.4,0.401,2.3,...,4.4,0.818,1.1,4.1,5.1,3.0,0.8,0.3,3.2,2.0
2096,97,Jordan Minor,Merrimack College,28.0,33.4,17.4,6.6,12.9,0.515,0.0,...,7.0,0.587,3.3,6.1,9.4,2.3,1.4,2.6,2.8,3.0
2097,98,RaeQuan Battle,Montana State,34.0,29.6,17.4,6.3,13.5,0.467,1.5,...,4.0,0.838,0.6,2.4,2.9,1.0,0.8,0.5,1.5,2.4
2098,99,Brendan Adams,George Washington,32.0,37.6,17.4,5.9,12.5,0.470,2.3,...,4.0,0.835,0.8,3.4,4.2,2.9,0.7,0.2,2.5,1.9
2099,100,"Claudell Harris, Jr.",Charleston Southern,30.0,31.3,17.4,6.3,13.7,0.460,2.2,...,3.3,0.786,0.4,3.5,3.9,2.3,0.9,0.2,2.0,1.9

In [9]:
df_sum = pd.DataFrame()

year = 2003

for df in df_list: 
    df['Year'] = year  
    df.rename(columns={'Number':'Ranking'}) 
    
    #df.to_csv("player_data_{}.cvs".format(year),index=False)
    df_sum = pd.concat([df_sum,df],ignore_index=True)

    year = year + 1

In [10]:
print(df_sum)

      Ranking                Player                 Team    GP   MPG   PPG  \
0           1       Henry Domercant     Eastern Illinois  30.0  33.7  28.2
1           2         Ruben Douglas           New Mexico  28.0  35.1  28.0
2           3            Mike Helms              Oakland  28.0  34.5  26.9
3           4        Michael Watson                 UMKC  29.0  38.8  25.5
4           5             Troy Bell       Boston College  31.0  38.6  25.2
...       ...                   ...                  ...   ...   ...   ...
2095       96          B.J. Freeman            Milwaukee  30.0  30.3  17.4
2096       97          Jordan Minor    Merrimack College  28.0  33.4  17.4
2097       98        RaeQuan Battle        Montana State  34.0  29.6  17.4
2098       99         Brendan Adams    George Washington  32.0  37.6  17.4
2099      100  Claudell Harris, Jr.  Charleston Southern  30.0  31.3  17.4

      FGM   FGA    FG%  3PM  ...    FT%  ORB  DRB  RPG  APG  SPG  BPG  TOV  \
0     8.8  19.2  0.460  3.0  ...  0.844  2.0  4.8  6.8  2.8  1.4  0.5  2.3
1     7.8  19.6  0.397  3.4  ...  0.841  1.9  4.8  6.6  2.1  1.3  0.3  3.9
2     8.6  19.0  0.452  2.6  ...  0.745  1.3  2.7  4.0  2.0  1.4  0.3  3.8
3     8.5  22.6  0.377  4.1  ...  0.753  0.8  2.9  3.7  3.8  1.4  0.2  3.7
4     7.2  16.4  0.441  3.4  ...  0.847  1.5  3.0  4.6  3.7  2.3  0.2  2.5
...   ...   ...    ...  ...  ...    ...  ...  ...  ...  ...  ...  ...  ...
2095  5.8  14.4  0.401  2.3  ...  0.818  1.1  4.1  5.1  3.0  0.8  0.3  3.2
2096  6.6  12.9  0.515  0.0  ...  0.587  3.3  6.1  9.4  2.3  1.4  2.6  2.8
2097  6.3  13.5  0.467  1.5  ...  0.838  0.6  2.4  2.9  1.0  0.8  0.5  1.5
2098  5.9  12.5  0.470  2.3  ...  0.835  0.8  3.4  4.2  2.9  0.7  0.2  2.5
2099  6.3  13.7  0.460  2.2  ...  0.786  0.4  3.5  3.9  2.3  0.9  0.2  2.0

       PF  Year
0     2.1  2003
1     2.7  2003
2     3.1  2003
3     2.4  2003
4     2.1  2003
...   ...   ...
2095  2.0  2023
2096  3.0  2023
2097  2.4  2023
2098  1.9  2023
2099  1.9  2023

[2100 rows x 24 columns]

In [11]:
len(df_list)

21

In [12]:
dfs = []

for year in range(2003, 2023):
    filename = f"NCAA_Tourney_2002_2022.csv"
    data = pd.read_csv(filename).query(f"season=={year}").reset_index(drop=True)
    dfs.append(data)

In [13]:
for i in range(len(dfs)):
    team_names = dfs[i][['team1_teamname', 'team2_teamname']].values.tolist()
    for label, data in df_list[i]['Team'].iteritems():
        if data not in [name for names in team_names for name in names]:
            df_list[i] = df_list[i].drop(label)

In [32]:
for i in range(len(dfs)):
    team_counts = df_list[i]['Team'].value_counts()

    dfs[i]['team1_keyplayers'] = dfs[i]['team1_teamname'].map(team_counts).fillna(0).astype('int')
    dfs[i]['team2_keyplayers'] = dfs[i]['team2_teamname'].map(team_counts).fillna(0).astype('int')

In [36]:
train = pd.concat(dfs, ignore_index=True)

In [37]:
train.to_csv("train_2003_2022.csv")